<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
	<h1>Erreur.</h1>
	<h2>Une erreur est survenue lors de votre requête.</h2>
	<p>N'hésitez pas à contacter l'admnistrateur du site <a href="mailto:Simon.Nyssen@student.hel.be">ici</a></p>
</body>
</html>
